.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Environment variables
.env

# Sqlite
local.db

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# MinIO Data
minio-data
